.content {
    margin-top: 17%;
    height: 100%;
    padding-left: 20%;
    padding-right: 20%;
}
html, body{height:100%; margin:0;padding:0}
 
body{
    background-image: url(../images/bg.jpg);
    background-size: cover;
}
h1, h2, h3,p{
    color: white;
    text-shadow: 2px 2px black;
}
.logo img{
    width: 40%;
    margin-bottom: 1vh;
}
.table {
    margin-top: 4%;
}
.logs{
    display: block;
    margin: 0 auto;
    padding-left: 5%;
    padding-right: 5%;
}
table tr td:nth-child(even){
    background: #010305;
}
table tr td:nth-child(odd){
    background: #1a1b1b;
}
.my-legend .legend-title {
    text-align: left;
    margin-bottom: 5px;
    font-weight: bold;
    font-size: 90%;
    }
.my-legend .legend-scale ul {
    margin: 0;
    margin-bottom: 5px;
    padding: 0;
    float: left;
    list-style: none;
}
.my-legend .legend-scale ul li {
    font-size: 80%;
    list-style: none;
    margin-left: 0;
    line-height: 18px;
    margin-bottom: 2px;
}
.my-legend ul.legend-labels li span {
    display: block;
    float: left;
    height: 16px;
    width: 30px;
    margin-right: 5px;
    margin-left: 0;
    border: 1px solid #999;
}
.my-legend .legend-source {
    font-size: 70%;
    color: #999;
    clear: both;
}
.my-legend {
    color: #fff;
    float: right;
}
table.header{
    width: 100%;
}
table.header tr td{
    background: #000000;
}

